.basicinfomation {
    .form-group {
        margin-bottom: 1rem;

        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;

            input {
                position: relative;
                flex: 1 1 auto;
                width: 1%;
                min-width: 0;
                margin-bottom: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .input-group-prepend {
                margin-right: -1px;
                display: flex;

                span {
                    padding: 10px 20px;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: transparent;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    line-height: 1.5;
                    color: #495057;
                    text-align: center;
                    white-space: nowrap;
                    border-radius: 0.25rem;
                }
            }
        }

        label {
            margin-bottom: 10px;
            font-weight: bold;
            display: inline-block;
        }
        .form-control {
            padding: 8px 15px;
            border-radius: 8px;
            width: 100%;
            color: #6e6e6e;
            border: 1px solid #e5e1dc;
            background-color: #fff;
            letter-spacing: 0.1px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            background-clip: padding-box;
            background-clip: padding-box;
        }
        input,
        select {
            height: 50px;
        }
    }
}

.pr-20 {
    padding-right: 30px;
}
