@import "./../../../../../variables/variable_admin.scss";

.admin-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;
    .separator-custom {
        border-bottom: 1px solid #eee;
    }
    .ant-menu {
        border: none !important;
        .ant-menu-item {
            border-radius: 5px !important;
            border: none !important;
            &:hover > span > a {
                color: $color-green-dark !important;
            }
        }
        .ant-menu-submenu-arrow {
            color: $color-blue-black !important;
        }
        .ant-menu-item-selected {
            &::after {
                opacity: 0 !important;
            }
            background-color: $color-green-light !important;
            svg {
                color: $color-green-dark !important;
            }
        }
    }
    .ant-menu-inline-collapsed {
        width: 100%;
    }
    .btn-custom {
        margin-bottom: 5px;
        margin-right: 7px;
        margin-left: 5px;
        border-radius: 5px;
    }

    .mt-0 {
        margin-top: 0;
    }
}
