.section-recommend {
    .recommend-title{
        h2{
            padding-top: 30px;
            text-align: center; 
            font-size: 3rem;
            font-weight: 600;
        }
    }
    .sub-header {
        background-image: url("http://androthemes.com/themes/react/acres/assets/img/subheader.jpg");
        padding: 290px 0 30px;
        background-position: 50%;
        background-size: cover;
        position: relative;
        z-index: 1;
        .title {
            color: #fff !important;
            font-size: 42px;
            line-height: 50px;
        }
        .breadcrumb {
            background-color: transparent;
            padding: 0;
            margin: 0;
            color: #fff !important;
            display: inline-flex;
            flex-wrap: wrap;
            list-style: none;
            border-radius: 0.25rem;
            li {
                display: flex;
                align-items: center;
                font-size: 14px;
                margin: 0;
                a {
                    font-weight: 500;
                    color: #fff;
                }
            }
            .breadcrumb-item + .breadcrumb-item:before {
                color: #fff;
                display: inline-block;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                content: "/";
            }
        }
        & > :before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: -1;
            transition: background-color 0.3s;
        }
    }
    // padding: 80px 0px;
    // max-width: 1140px;
    // margin: auto;
    .content {
        margin-top: 57px;
        .sidebar-right {
            padding-left: 15px;
            .tab-wrapper {
                .ant-list-item {
                    padding: 0px;
                }
                .tab-custom {
                    .ant-tabs-nav-wrap {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                    .ant-tabs-nav {
                        margin: 0;
                        &::before,
                        &::after {
                            border: 0px;
                        }
                        .ant-tabs-tab {
                            border: 1px solid rgba(0, 0, 0, 0.1) !important;
                            padding: 10px 10px;
                            border-radius: 8px;
                            line-height: 100%;
                            margin: 0 2px;
                            &:hover {
                                background-color: #1890ff;
                                i {
                                    color: white;
                                }
                            }
                        }
                        .ant-tabs-tab-active {
                            background-color: #1890ff;
                            i {
                                color: white;
                            }
                        }
                        .ant-tabs-ink-bar {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
