.form-edit {
    padding-bottom: 150px;
    .ant-input-disabled{
        background: transparent!important;
    }
    .ant-input{
        font-size: 16px;
        border-radius: 8px;
        height: 58px;
    }
    label {
        font-size: 16px;
        margin: 0 5px;
    }
    .pl-auto{
        padding-left: 15px;
    }
    .pt-auto{
        padding-top: 20px;
    }
    .form-item {
        margin: 5px 10px;
    }
    .submit {
        margin-top: 10px;
        font-size: 16px;
        background-color: #519fff;
    }
}
