.form-edit {
    padding-bottom: 50px;

    label {
        font-size: 16px;
        margin: 0 5px;
    }
    .form-item {
        margin: 5px 10px;
    }
    .submit {
        background-color: #519fff;
    }
}
