$color-green-light: #cee6e4;
$color-green-dark: #046963;
$color-white: #ffffff;
$color-gray-light: #f8f9fa;
$color-gray-dark: #e9ecef;
$color-white-purple-light: #f4f5f9;
$color-white-purple-dark: #f0f4fe;

//font color
$color-blue-black: #292f46;
