.filter-listings {
    padding: 15px;

    h5 {
        font-size: 2rem;
        line-height: 30px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 30px;
    }

    .filter-listings-form {
        .form-group {
            margin-bottom: 18px;
        }

        .submit {
            font-size: 18px;
            background-color: #0088a9;
            margin: 0;
            width: 100%;
        }
    }
}
