@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f18420f7fa6405bde072123a7e12b833") format("truetype"),
url("./flaticon.woff?f18420f7fa6405bde072123a7e12b833") format("woff"),
url("./flaticon.woff2?f18420f7fa6405bde072123a7e12b833") format("woff2"),
url("./flaticon.eot?f18420f7fa6405bde072123a7e12b833#iefix") format("embedded-opentype"),
url("./flaticon.svg?f18420f7fa6405bde072123a7e12b833#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-paint:before {
    content: "\f101";
}
.flaticon-bone:before {
    content: "\f102";
}
.flaticon-chair:before {
    content: "\f103";
}
.flaticon-fan:before {
    content: "\f104";
}
.flaticon-key:before {
    content: "\f105";
}
.flaticon-garage:before {
    content: "\f106";
}
.flaticon-history:before {
    content: "\f107";
}
.flaticon-bathtub:before {
    content: "\f108";
}
.flaticon-pillow:before {
    content: "\f109";
}
.flaticon-mail:before {
    content: "\f10a";
}
.flaticon-ruler:before {
    content: "\f10b";
}
.flaticon-new:before {
    content: "\f10c";
}
.flaticon-view:before {
    content: "\f10d";
}
