.admin-manage-comment {
    background-color: #fff;
    margin: 30px;
    margin-top: 100px;
    border-radius: 6px;
    h1 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        padding-top: 10px;
    }
    .ant-spin-container {
        padding: 0 40px 0 40px;
        .ant-table {
            padding: 1px;
            border-radius: 7px;
        }
    }
    
}
.admin-btn-edit{
    border: 0 !important;
    box-shadow: 0 0 0.25em rgba($color: #333, $alpha: 0.3);
    border-radius: 8px !important;
    transition: 0.3s !important;
}
.admin-btn-edit:hover{
    background-color: #cee6e4;
    // span{
    //     color: white !important;
    // }
}
.admin-btn-delete{
    border: 0 !important;
    box-shadow: 0 0 0.25em rgba($color: #333, $alpha: 0.3);
    border-radius: 8px !important;
    transition: 0.3s !important;
}
.admin-btn-delete:hover{
    background-color: rgb(245, 116, 116);
    span{
        color: white !important;
    }
}
.admin-btn-approve{
    border: 0 !important;
    box-shadow: 0 0 0.25em rgba($color: #333, $alpha: 0.3);
    border-radius: 8px !important;
    transition: 0.3s !important;
}
.admin-btn-approve:hover{
    background-color: rgb(118, 162, 243);
    span{
        color: white !important;
    }
}