.feature {
  display: flex;
  align-items: center;
  margin: 5px 0;
  i {
    font-size: 36px;
    color: #01bbbc;
    width: 50px;
  }
  h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
  }
  .feature-label {
    width: 130px !important;
  }
  .feature-value {
    color: #bbbbbb;
    font-weight: 700 !important;
    font-size: 15px !important;
  }
}
