.section-recent-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  .title {
    font-size: 1.5em;
    width: 85%;
    margin: 0 auto;
    font-weight: 800;
  }
  .item {
    padding: 10px 5px;
  }
  .btn-more {
    margin-top: 20px;
    display: block;
    height: auto;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #01bbbc;
    color: white;
    &:hover {
      background-color: #01bbbc;
      color: white;
    }
    &:focus {
      background-color: #01bbbc;
      color: white;
    }
  }
  .skeleton-container {
    display: flex;
    .wrapper-item {
      width: 25%;
      padding: 10px 15px 10px 10px;
      .skeleton-item {
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 330px;
        border: 0;
        background-color: #f7f7f7;
        border-radius: 8px;
        .item-input {
          margin-top: 5px;
          span {
            display: inline-block;
          }
        }
      }
    }
  }
}
