.similar-agents {
    h4 {
        margin-bottom: 40px;
        font-size: 2rem;
        line-height: 38px;
        text-align: left;
        font-weight: bold;
        color: #101737;
    }
    .pr-10 {
        padding-right: 30px;
    }
}
