.item-target {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 15px 8px;
    p {
        margin-bottom: 0 !important;
    }
    .title-target {
        font-size: 15px;
    }
    .title-target-small {
        font-size: 13px;
        color: #c0c0c0;
    }

    .content {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    }
}
.item-target:hover {
    box-shadow: 0 2px 8px 0 rgba(34, 12, 43, 0.2);
}
