.item-target {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 20px 8px;
    p {
        margin-bottom: 0 !important;
    }
    .title-target {
        font-size: 16px;
    }
}
.item-target:hover {
    box-shadow: 0 2px 8px 0 rgba(34, 12, 43, 0.2);
}
