.detail-recomend-item {
  position: relative;
  transition: 0.3s;
  padding: 10px;

  .recomend-img-wrapper {
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    height: 180px;
    overflow: hidden;
    transition: all 0.3s;
    .recomend-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .recomend-item-body {
    position: relative;
    background-color: transparent;
    transition: 0.3s;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    width: calc(100% - 20px);
    padding-top: 5px;
    .listing-title {
      margin-bottom: 0px;
      font-size: 18px;
      a {
        display: block;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #101737;
        &:hover {
          color: #478adc;
        }
      }
    }

    h5 {
      font-size: 18px;
      font-weight: bold;
      background-color: hsla(0, 0%, 100%, 0);
      margin-bottom: 0;
      color: black;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h5:hover {
      color: #01bbbc;
    }
    span {
      margin-bottom: 10px;
      font-size: 15px;
      font-weight: bold;
      background-color: hsla(0, 0%, 100%, 0);
      color: rgb(118, 118, 118);
    }
  }
}
.recomend-item:hover {
  margin-top: -10px;
}
