.form {
    h5 {
        font-size: 2rem;
        line-height: 30px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 30px;
    }

    input {
        border-radius: 10px;
        padding: 14px 12px;
    }
    .submit {
        font-size: 18px;
        background-color: #0088a9;
        margin: 0;
        width: 100%;
    }
    .selected {
        height: 50px;
        padding: 8px 0px;
        border-radius: 8px;
        width: 100%;
        color: #6e6e6e;
        border: 1px solid #e5e1dc;
        background-color: #fff;
        letter-spacing: 0.1px;
        font-size: 14px;
    }
}
