.admin-header {
    height: 9.4vh;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 10;
    .logo {
        display: inline;
    }

    .ant-form {
        display: inline;
    }
    .admin-header-search {
        .admin-header-search-input {
            margin: auto;
            margin-top: 8px;
            width: 150px;
            background-color: black;
            color: white;
            border-radius: 5px;
        }
        .fa-search {
            color: aliceblue;
            padding-left: 10px;
        }
    }
}
