.banner-home {
  background-image: url("http://androthemes.com/themes/react/acres/assets/img/banner/3.jpg");
  position: relative;
  padding: 130px 0 50px;
  background-position: 50%;
  background-size: cover;
  z-index: 1;

  .banner-filter {
    position: relative;
    border-top: -130px;
    .title-search {
      color: #fff;
      text-align: center;
      font-size: 32px;
    }
    .card-filter {
      margin-top: 30px;
      padding: 0 40px;
    }
  }

  .ant-tabs-tab-btn {
    font-size: 1rem;
    font-weight: 750;
  }
  .pl-12 {
    padding-left: 12px;
  }
  .container {
    max-width: 1140px;
    margin: auto;
    margin-top: 85px;
  }
  .banner-item {
    position: relative;
    .banner-text {
      max-width: 650px;
      margin-bottom: 120px;
      color: #fff;
      .title {
        font-size: 72px;
        line-height: 80px;
        margin-bottom: 30px;
        font-weight: 800;
        color: #fff;
      }
      .subtitle {
        max-width: 500px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .acr-filter-form {
      width: 100%;
      position: absolute;
      background-color: #fff;
      padding: 20px 20px 0;
      border-radius: 8px;
      margin-top: 70px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      .search-type-real {
        margin-bottom: 15px;
        padding-left: 10px;
        .dropdown-search {
          width: 13.5%;
        }

        .btn-search {
          font-size: 18px;
          background-color: #0088a9;
          margin: 0;
          width: 90%;
          height: 58px;
          margin-left: 10px;
        }

        .input-search {
          width: 100%;
          margin-right: 10px;
          margin-bottom: 0;
        }
        .ant-btn,
        .ant-input {
          height: 58px;
          border-radius: 8px;
          box-shadow: 0 2px 9px 0 rgba(34, 12, 43, 0.1);
          border: 0;
        }
        .ant-input {
          margin-left: 3px;
        }

        .ant-input-search-button {
          background-color: #01bbbc;
          padding: 8px 25px;
          border-radius: 0 8px 8px 0px;
        }
      }
      .item-form {
        padding: 0px 10px;
      }
      .form-group {
        margin-bottom: 20px;
      }
      .btn-custom {
        background-color: #01bbbc;
        font-size: 14px;
        margin: 0 auto;
        line-height: 40px;
        padding: 8px 25px;
        font-weight: 700;
      }
      .advanced-search.active {
        display: none;
      }
      .semi-circle {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        height: 45px;
        width: 90px;
        border-bottom-left-radius: 90px;
        border-bottom-right-radius: 90px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #01bbbc;
        }
        i {
          transition: transform 0.3s;
        }
        &.active i {
          transform: rotate(180deg);
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: background-color 0.3s;
  }
}
