.title-recomend {
  padding-bottom: 30px;
  h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin: 0;
  }
  .skeleton-container {
    display: flex;
    .wrapper-item {
      width: 25%;
      padding: 10px 15px 10px 10px;
      .skeleton-item {
        padding: 20px;
        display: flex;
        justify-content: end;
        flex-direction: column;
        height: 330px;
        border: 0;
        background-color: #f7f7f7;
        border-radius: 8px;
        .item-input {
          margin-top: 5px;
          span {
            display: inline-block;
          }
        }
      }
    }
  }

  .slick-slider-product {
    position: relative;
    display: block;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    .slick-slide {
      padding-right: 5px !important;
    }
    .button-prev {
      background: #01bbbc;
      border: none;
      left: -20px;
      position: absolute;
      display: block;
      line-height: 0;
      font-size: 2;
      cursor: pointer;
      color: transparent;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      outline: none;
      box-shadow: 0 0 7px -4px #000;
      width: 56px;
      height: 56px;
      border-radius: 56px;
      transition: all 0.3s ease-in-out;
      z-index: 1;
      span {
        color: #fff !important;
      }
    }
    .button-next {
      background: #01bbbc;
      border: none;
      right: -20px;
      position: absolute;
      display: block;
      line-height: 0;
      font-size: 0;
      cursor: pointer;
      color: transparent;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      outline: none;
      box-shadow: 0 0 7px -4px #000;
      width: 56px;
      height: 56px;
      border-radius: 56px;
      transition: all 0.3s ease-in-out;
      z-index: 1;
      span {
        color: #fff !important;
      }
    }
    .disable-btn {
      background: #fff !important;
      span {
        color: #000 !important;
      }
    }
  }
}
