.footer-container {
  margin: auto;
  background-color: #1d2228;
  color: #cecece;
  padding: 50px 150px;
  .footer-top {
    height: 220px;
    .footer-col-wrap{
      height: 100%;
    }
    .col-1 {
      padding-right: 200px;
    }
    ul {
      list-style: none;
    }
    .col-2 {
      margin-top: 50px;
    }
    .footer-col {
      height: 100%;
      h2 {
        font-size: 18px;
        color: #cecece;
        text-transform: capitalize;
        margin-bottom: 30px;
        font-weight: 700;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: -10px;
          height: 2px;
          background-color: #fff;
          box-sizing: border-box;
          width: 50px;
        }
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          a {
            font-size: 14px;
            text-transform: capitalize;
            color: #cecece;
            text-decoration: none;
            display: block;
            transition: all 0.3 ease 0s;
            font-weight: 600;
            &:hover {
              color: #01bbbc;
            }
          }
        }
      }
      img{
        height: 100%;
      }
      .align-right{
        text-align: right;
      }
    }
  }

  .footer-bottom {
    padding-top: 50px;
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      li {
        margin-left: 20px;
        a {
          font-size: 14px;
          text-transform: capitalize;
          color: #cecece;
          text-decoration: none;
          display: block;
          transition: all 0.3 ease 0s;
          font-weight: 500;
          &:hover {
            color: #01bb;
          }
        }
      }
    }
  }
}
