.profile-section-body-wrapper {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
  .tab-wrapper {
    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-nav {
      width: 100% !important;
      padding-bottom: 10px;
    }

    .ant-tabs-tab {
      display: block !important;
      flex: 1;
      text-align: center;
      padding: 10px;
    }

    .ant-tabs-nav > div:nth-of-type(1) {
      display: unset !important;
      width: 100% !important;
    }

    .ant-tabs-tab-active {
      .tab-item-wrapper {
        background-color: #01bbbc !important;
        .tab-item {
          color: #fff !important;
        }
        &--red {
          background-color: #ff4764 !important;
          .tab-item {
            color: #fff !important;
          }
        }
        &__icon {
          i {
            font-size: 16px;
            margin-top: 4px;
            margin-right: 5px;
            color: #fff !important;
          }
        }
      }
    }
    .ant-tabs-nav {
      flex-basis: 33.33%;
      .ant-tabs-nav-wrap {
        padding-right: 5px;
      }
    }
    .ant-tabs-tab {
      margin-bottom: 0px !important;
      margin: 0px !important;
    }
    .ant-tabs-tab-btn {
      width: 100%;
    }
    .tab-item-wrapper {
      &--red {
        background-color: #ffbfc9;
        .tab-item {
          color: #ff4764 !important;
        }
        &:hover {
          background-color: #ffbfc9;
          .tab-item {
            color: #fff !important;
          }
        }
      }
      &__icon {
        display: flex;
        i {
          font-size: 16px;
          margin-top: 4px;
          margin-right: 5px;
          color: #ff4764 !important;
        }
        &:hover {
          background-color: #ff4764 !important;
          i {
            color: #fff !important;
          }
        }
      }
      border: 0px;
      border-radius: 8px;
      box-shadow: 0 3px 10px 0 rgba(34, 12, 43, 0.2);
      background-color: #fff;
      transition: 0.3s;
      padding: 15px 30px;
      width: 100%;
      font-size: 8px;
      color: #101737;
      width: 100%;
      &:hover {
        background-color: #f7f9fc;
        .tab-item {
          color: #101737;
        }
      }
      .tab-item {
        margin: 0;
        text-align: left;
      }
    }
    .ant-tabs-content-holder {
      border-left: 0px;
      flex-basis: 66.66%;
      .empty {
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
