.section-recent-list {
    .title-wrapper {
        .sub-title {
            color: #519fff;
            font-weight: bold;
            font-size: 18px;
        }
        .title {
            font-size: 42px;
            line-height: 50px;
            font-weight: bold;
        }
    }
    .item {
        margin: 20px 0px;
    }
}
