.footer-container {
    max-width: 1170px;
    margin: auto;
}

.col-1 {
    padding-right: 200px;
}

ul {
    list-style: none;
}

.footer-col h2 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.footer-col h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: #e91e63;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
    display: block;
    transition: all 0.3 ease 0s;
    font-weight: 500;
}

.footer-col ul li a:hover {
    color: #e91e63;
}

.footer-top {
    padding-top: 60px;
}

.footer-bottom ul {
    display: flex;
    justify-content: flex-end;
}

.footer-bottom {
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-bottom ul li a {
    font-size: 14px;
    text-transform: capitalize;
    color: rgb(0, 0, 0, 0.5);
    text-decoration: none;
    display: block;
    transition: all 0.3 ease 0s;
    font-weight: 500;
}

.footer-bottom ul li a:hover {
    color: #e91e63;
}
