.item-slider{
    // padding: 25px 0px 25px 25px;
    background-size: cover;
    border-radius: 10px;
    z-index: -1;
    .item-wrapper{
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        .item{
            width: 45%;
            .listing-primary{
                margin: 25px 0px 25px 25px;
            }
        }
    }
}