.section-overview {
  .title {
    font-weight: 800;
    font-size: 1.5rem;
  }
  font-weight: 400;
  font-size: 16px;
  .content-body {
    p,
    span {
      font-family: "Nunito Sans", sans-serif !important;
    }
  }
}
