.detail {
    .btn-custom {
        transition: 0.3s;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        position: relative;
        background-color: #519fff;
        line-height: 24px;
        border: 0;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 8px;
        overflow: hidden;
        z-index: 1;
        text-transform: none;
        margin-top: 0;
        margin-left: 15px;
    }
    .form-group {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        .checkbox {
            margin-bottom: 0;
            margin-right: 10px;
        }
        label {
            margin-bottom: 10px;
            font-weight: 800;
            display: inline-block;
        }
        .form-control {
            height: 50px;
            padding: 8px 15px;
            border-radius: 8px;
            width: 100%;
            border: 1px solid #e5e1dc;
            background-color: #fff;
            letter-spacing: 0.1px;
            font-size: 14px;
            display: block;
            font-weight: 600;
            line-height: 1.5;
            background-clip: padding-box;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    }
}
